.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fight {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fight button {
  margin-bottom: 40px;

}

.fighter {
  display: block;
}

.emoji {
  padding: 50px;
  transition: all .2s ease-in-out;
}

.open-closed-sign {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 4rem;
  margin-bottom: 40px;
}

.AnimalParade {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 5rem;
}

.fight .open-closed-sign .AnimalParade {
  height: 33%;
}

.fight {
  background-color: mediumaquamarine;
}

.open-closed-sign {
  background-color: coral;
}

.AnimalParade {
  background-color: violet;
}

